body{
    margin: 0px;
}
#bhrd{
    height: 65vh;
    opacity: 0.9;
    background-image: url("macbook_mouse.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
    
}
.nav{
    list-style: none;
    margin: 0px;
}
.nav li{
    display: inline-block;
    margin: 0px 20px 20px 0px ;
    font-size: 30px;
}
.nav li a{
    color: beige;
    text-decoration:none;

}
.center{
    text-align: center;
}
.upper li a:hover{
    color:royalblue;
    border-bottom: 1px solid royalblue;
    font-size: 31px;
}
.upper li a{
    transition: color 0.5s, border-bottom 4s;
    padding-top: 100px;
}
#name{
    color: beige;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 900;
    margin-top: 91px;
}

.size{
    height: 35px;
    width: 35px;
    border: 1px solid black;
}
#socialicon li a img:hover{
    box-shadow: 1px 0px 2pc 19px rgb(243, 231, 231);
    border: 2px solid whitesmoke;

}
#socialicon li a img{
    padding: 2px;
}
.res-photo img{
    height: 251px;
    width: 251px;
    margin-left: 553px;
    border-radius: 50%;
    margin-top: -120px;
    position: relative;
    box-shadow: 0px 0px 18px 6px black;
    border: 2px solid black;
}
.abo p{
    font-weight: inherit;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 33px;
    font-style: revert;
}
.stylefont{
    font-size: 70px;
    color: rgb(20, 52, 94);
    text-transform: uppercase;
}
#skill-display{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height:auto;
    width: 90vw;
    background-color:rgb(207, 198, 198);
    margin: 20px;
    margin: 65px;
    margin-top: -38px;
    justify-content:space-evenly;
   
}
#skill-display:hover{
    box-shadow: 0px 0px 5px 5px gray;
}
#sk1b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk1b:hover{ box-shadow:  0px 0px 7px 5px rgb(153, 238, 42);
}
#sk2b:hover{ box-shadow:  0px 0px 7px 5px rgb(50, 228, 228);
}
#sk3b:hover{ box-shadow:  0px 0px 7px 5px rgb(233, 121, 56);
}
#sk4b:hover{ box-shadow:  0px 0px 7px 5px rgb(241, 48, 232);
}
#sk5b:hover{ box-shadow:  0px 0px 7px 5px rgb(87, 83, 87);
}
#sk6b:hover{ box-shadow:  0px 0px 7px 5px rgb(235, 83, 83);
}
#sk1progress{
    height: 35px;
    width: 175px;
    background-color: rgb(153, 238, 42);
}
#sk2b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk2progress{
    height: 35px;
    width: 150px;
    background-color: rgb(50, 228, 228);
}
#sk3b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk3progress{
    height: 35px;
    width: 100px;
    background-color: rgb(233, 121, 56);
}
#sk4b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk4progress{
    height: 35px;
    width: 200px;
    background-color: rgb(241, 48, 232);
}
#sk5b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk5progress{
    height: 35px;
    width: 170px;
    background-color: rgb(87, 83, 87);
}
#sk6b{
    height: 35px;
    width: 230px;
    background-color: darkgray;
    margin: 60px;
    border: 2px solid black;
}
#sk6progress{
    height: 35px;
    width: 140px;
    background-color: rgb(235, 83, 83);
}
.skillfont{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
#skills h1::before{
    content: '';
    display: inline-block;
    height: 55px;
    width: 55px;
    margin-right: 8px;
    background-image: url(./beforeskill.jpg);
    background-size: contain;
}
#exp h1::before{
    content: '';
    display: inline-block;
    height: 52px;
    width: 81px;
    margin-right: -16px;
    background-image: url(./beforexp.jpg);
    background-size: contain;
}
#outer-exp{
    width: 80%;
    height: 769px;
    position: relative;
    margin-left: 127px;
    background-color:rgb(207, 198, 198);
    padding-top: 4px;
    padding-bottom: 36px;
}
.inner-exp{
    min-height: 150px;
    position: relative;
    width: 40%;
    left: 5%;
    background-color: darkgray;
    border: 2px solid black;
    margin: 5px;
    margin-top: 38px;
    margin-left: -16px;
}
.inner-exp:nth-child(2n){
    margin-left: 51%;
    margin-bottom: 40px;
}
.inner-exp:hover{
    box-shadow: 0px 0px 5px 5px gray;
}
.comstyle{
    font-size:x-large;
    text-align:center;
    font-weight: bolder;
}
#outer-exp:hover{
    box-shadow: 0px 0px 5px 5px gray;
}
.inner-exp p{
    font-weight: 600;
    font-size: 17px;
}
#outer-edu{
    width: 80%;
    height: 573px;
    position: relative;
    margin-left: 127px;
    background-color:rgb(207, 198, 198);
    padding-top: 4px;
    padding-bottom: 36px;
}
#outer-edu:hover{
    box-shadow: 0px 0px 5px 5px gray;
}
#inner-edu{
    min-height: 150px;
    position: relative;
    width: 40%;
    left: 5%;
    background-color: darkgray;
    border: 2px solid black;
    margin: 5px;
    margin-top: 38px;
    margin-left: -16px;
}
#inner-edu:nth-child(2n){
    margin-left: 51%;
    margin-bottom: 40px;
}
#inner-edu:hover{
    box-shadow: 0px 0px 5px 5px gray;
}
#inner-edu h2{
    margin-left: 277px;

}
#inner-edu h3{
    margin-left: 174px;
}
#education h1::before{
    content: '';
    display: inline-block;
    height: 55px;
    width: 55px;
    margin-right: 8px;
    background-image: url(./beforeeducation.jpg);
    background-size: contain;
}
#time-line-expressway{
    position:absolute;
    width: 0;
    height: 75%;
    left: 50%;
    border: 3px dashed rgba(15, 57, 134, 0.575);
    top: 10%;
}
#plane{
    position:sticky; 
    top: 25%;
    transform: rotate(180deg);
}
#plane-expressway-edu{
    height: 85%;
    width: 0;
    position: absolute;
    top: 10%;
    right: 50%;
    border: 3px dashed rgba(15, 57, 134, 0.575);
}
#plane-edu{
    position: sticky;
    top: 20%;
    transform: rotate(180deg);
}
#contact-area{
    margin: 40px;
    height: 90vh;
    width: 90vw;
    background: linear-gradient(rgb(22 22 37),rgb(20, 20, 70),blue);
    border: 2px solid black;
}
.stylefont-con{
    font-size: 60px;
    color: rgb(231, 235, 240);
    text-transform:capitalize;
}
#message-part input{
    display:block;
    line-height: 20px;

}
#contact-area h1::before{
    content: '';
    display: inline;
    height: 50px;
    width: 50px;
    margin-right: 11px;
    background-image: url(./business-card.png);
    background-size: cover;

}
#message-part{
    border: 2px solid white;
    width: 25%;
    position: absolute;
    margin-left: 91px;
}
#mess{
    margin: 28px;
}
#Send{
    margin-left: 37%;
    margin-bottom: 10%;
}
#mess-area{
    margin: 28px;
}
#line-contact{
    display: inline-block;
    height: 70vh;
    margin-left: 50%;
    border: 2px solid white;
    border-radius: 50%;
}
#aside{
    display: inline-block;
    height: 52%;
    width: 28%;
    /* border: 2px solid white; */
    margin-top: 0px;
    position: absolute;
    margin-left: 132px;
}
#aside ul li{
   list-style: none;
   color: blanchedalmond;
   font-weight: 900;
   font-size:larger;
   line-height: 41px;
}
#li1c::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(./beforecity.jpg);
    background-size: cover;
}
#li2c::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(./beforrphone.jpg);
    background-size: cover;
}
#li3c::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 33px;
    background-image: url(./befoemail.jpg);
    background-size: cover;
}
#aside #addresss::before{
    content: '';
    display: inline-block;
    height: 36px;
    width: 36px;
    background-image: url(./beforeaddress.jpg);
    background-size: cover;
}
#addresss{
    font-size: xx-large;
    color: lemonchiffon;
    font-weight: 900;
}